Crawler/src/classes/scheme.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="news_list">
    <xs:complexType>
        <xs:sequence>
            <xs:element name="section" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="article" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element minOccurs="0" maxOccurs="1" type="xs:string" name="title"/>
                                    <xs:element minOccurs="0" maxOccurs="1" type="xs:anyURI" name="url"/>
                                    <xs:element minOccurs="0" maxOccurs="1" type="xs:anyURI" name="image"/>
                                    <xs:element minOccurs="0" maxOccurs="1" type="xs:positiveInteger" name="timestamp"/>
                                    <xs:element type="xs:string" name="author" maxOccurs="unbounded" minOccurs="0"/>
                                    <xs:element minOccurs="0" maxOccurs="1" type="xs:string" name="corpus"/>
                                    <xs:element minOccurs="0" maxOccurs="1" type="xs:string" name="section"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                    <xs:attribute type="xs:string" name="id" use="optional">
                        <xs:simpleType >
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="US"/>
                                <xs:enumeration value="AFRICA"/>
                                <xs:enumeration value="EUROPE"/>
                                <xs:enumeration value="LATINAMERICA"/>
                                <xs:enumeration value="MIDDLEEAST"/>
                                <xs:enumeration value="ASIA"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:attribute>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:element>
</xs:schema>
